/* required styles */

.leaflet-map-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-pane,
.leaflet-tile-container,
.leaflet-overlay-pane,
.leaflet-shadow-pane,
.leaflet-marker-pane,
.leaflet-popup-pane,
.leaflet-overlay-pane svg,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
  position : absolute !important;
  left     : 0 !important;
  top      : 0 !important;
}

.leaflet-container {
  overflow         : hidden !important;
  -ms-touch-action : none !important;
}

.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
  -webkit-user-select : none !important;
  -moz-user-select    : none !important;
  user-select         : none !important;
  -webkit-user-drag   : none !important;
}

.leaflet-marker-icon,
.leaflet-marker-shadow {
  display : block !important;
}

/* map is broken in FF if you have max-width: 100% on tiles */
.leaflet-container img {
  max-width : none !important !important;
}

/* stupid Android 2 doesn't understand "max-width: none" properly */
.leaflet-container img.leaflet-image-layer {
  max-width : 15000px !important !important;
}

.leaflet-tile {
  filter     : inherit !important;
  visibility : hidden !important;
}

.leaflet-tile-loaded {
  visibility : inherit !important;
}

.leaflet-zoom-box {
  width  : 0 !important;
  height : 0 !important;
}

/* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */
.leaflet-overlay-pane svg {
  -moz-user-select : none !important;
}

.leaflet-tile-pane {
  z-index : 2 !important;
}

.leaflet-objects-pane {
  z-index : 3 !important;
}

.leaflet-overlay-pane {
  z-index : 4 !important;
}

.leaflet-shadow-pane {
  z-index : 5 !important;
}

.leaflet-marker-pane {
  z-index : 6 !important;
}

.leaflet-popup-pane {
  z-index : 7 !important;
}

.leaflet-vml-shape {
  width  : 1px !important;
  height : 1px !important;
}

.lvml {
  behavior : url(#default#VML) !important;
  display  : inline-block !important;
  position : absolute !important;
}

/* control positioning */

.leaflet-control {
  position       : relative !important;
  z-index        : 7 !important;
  pointer-events : auto !important;
}

.leaflet-top,
.leaflet-bottom {
  position       : absolute !important;
  z-index        : 1000 !important;
  pointer-events : none !important;
}

.leaflet-top {
  top : 0 !important;
}

.leaflet-right {
  right : 0 !important;
}

.leaflet-bottom {
  bottom : 0 !important;
}

.leaflet-left {
  left : 0 !important;
}

.leaflet-control {
  float : left !important;
  clear : both !important;
}

.leaflet-right .leaflet-control {
  float : right !important;
}

.leaflet-top .leaflet-control {
  margin-top : 10px !important;
}

.leaflet-bottom .leaflet-control {
  margin-bottom : 10px !important;
}

.leaflet-left .leaflet-control {
  margin-left : 10px !important;
}

.leaflet-right .leaflet-control {
  margin-right : 10px !important;
}

/* zoom and fade animations */

.leaflet-fade-anim .leaflet-tile,
.leaflet-fade-anim .leaflet-popup {
  opacity            : 0 !important;
  -webkit-transition : opacity 0.2s linear !important;
  -moz-transition    : opacity 0.2s linear !important;
  -o-transition      : opacity 0.2s linear !important;
  transition         : opacity 0.2s linear !important;
}

.leaflet-fade-anim .leaflet-tile-loaded,
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
  opacity : 1 !important;
}

.leaflet-zoom-anim .leaflet-zoom-animated {
  -webkit-transition : -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1) !important;
  -moz-transition    : -moz-transform 0.25s cubic-bezier(0, 0, 0.25, 1) !important;
  -o-transition      : -o-transform 0.25s cubic-bezier(0, 0, 0.25, 1) !important;
  transition         : transform 0.25s cubic-bezier(0, 0, 0.25, 1) !important;
}

.leaflet-zoom-anim .leaflet-tile,
.leaflet-pan-anim .leaflet-tile,
.leaflet-touching .leaflet-zoom-animated {
  -webkit-transition : none !important;
  -moz-transition    : none !important;
  -o-transition      : none !important;
  transition         : none !important;
}

.leaflet-zoom-anim .leaflet-zoom-hide {
  visibility : hidden !important;
}

/* cursors */

.leaflet-clickable {
  cursor : pointer !important;
}

.leaflet-container {
  cursor : -webkit-grab !important;
  cursor : -moz-grab !important;
}

.leaflet-popup-pane,
.leaflet-control {
  cursor : auto !important;
}

.leaflet-dragging .leaflet-container,
.leaflet-dragging .leaflet-clickable {
  cursor : move !important;
  cursor : -webkit-grabbing !important;
  cursor : -moz-grabbing !important;
}

/* visual tweaks */

.leaflet-container {
  background : #dddddd !important;
  outline    : 0 !important;
}

.leaflet-container a {
  color : #0078a8 !important;
}

.leaflet-container a.leaflet-active {
  outline : 2px solid orange !important;
}

.leaflet-zoom-box {
  border     : 2px dotted #3388ff !important;
  background : rgba(255, 255, 255, 0.5) !important;
}

/* general typography */
.leaflet-container {
  font : 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif !important;
}

/* general toolbar styles */

.leaflet-bar {
  box-shadow    : 0 1px 5px rgba(0, 0, 0, 0.65) !important;
  border-radius : 4px !important;
}

.leaflet-bar a,
.leaflet-bar a:hover {
  background-color : #ffffff !important;
  border-bottom    : 1px solid #cccccc !important;
  width            : 26px !important;
  height           : 26px !important;
  line-height      : 26px !important;
  display          : block !important;
  text-align       : center !important;
  text-decoration  : none !important;
  color            : black !important;
}

.leaflet-bar a,
.leaflet-control-layers-toggle {
  background-position : 50% 50% !important;
  background-repeat   : no-repeat !important;
  display             : block !important;
}

.leaflet-bar a:hover {
  background-color : #f4f4f4 !important;
}

.leaflet-bar a:first-child {
  border-top-left-radius  : 4px !important;
  border-top-right-radius : 4px !important;
}

.leaflet-bar a:last-child {
  border-bottom-left-radius  : 4px !important;
  border-bottom-right-radius : 4px !important;
  border-bottom              : none !important;
}

.leaflet-bar a.leaflet-disabled {
  cursor           : default !important;
  background-color : #f4f4f4 !important;
  color            : #bbbbbb !important;
}

.leaflet-touch .leaflet-bar a {
  width       : 30px !important;
  height      : 30px !important;
  line-height : 30px !important;
}

/* zoom control */

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  font        : bold 18px 'Lucida Console', Monaco, monospace !important;
  text-indent : 1px !important;
}

.leaflet-control-zoom-out {
  font-size : 20px !important;
}

.leaflet-touch .leaflet-control-zoom-in {
  font-size : 22px !important;
}

.leaflet-touch .leaflet-control-zoom-out {
  font-size : 24px !important;
}

/* layers control */

.leaflet-control-layers {
  box-shadow    : 0 1px 5px rgba(0, 0, 0, 0.4) !important;
  background    : #ffffff !important;
  border-radius : 5px !important;
}

.leaflet-control-layers-toggle {
  background-image : url(images/layers.png) !important;
  width            : 36px !important;
  height           : 36px !important;
}

.leaflet-retina .leaflet-control-layers-toggle {
  background-image : url(images/layers-2x.png) !important;
  background-size  : 26px 26px !important;
}

.leaflet-touch .leaflet-control-layers-toggle {
  width  : 44px !important;
  height : 44px !important;
}

.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
  display : none !important;
}

.leaflet-control-layers-expanded .leaflet-control-layers-list {
  display  : block !important;
  position : relative !important;
}

.leaflet-control-layers-expanded {
  padding    : 6px 10px 6px 6px !important;
  color      : #333333 !important;
  background : #ffffff !important;
}

.leaflet-control-layers-selector {
  margin-top : 2px !important;
  position   : relative !important;
  top        : 1px !important;
}

.leaflet-control-layers label {
  display : block !important;
}

.leaflet-control-layers-separator {
  height     : 0 !important;
  border-top : 1px solid #dddddd !important;
  margin     : 5px -10px 5px -6px !important;
}

/* attribution and scale controls */

.leaflet-container .leaflet-control-attribution {
  background : #ffffff !important;
  background : rgba(255, 255, 255, 0.7) !important;
  margin     : 0 !important;
}

.leaflet-control-attribution,
.leaflet-control-scale-line {
  padding : 0 5px !important;
  color   : #333333 !important;
}

.leaflet-control-attribution a {
  text-decoration : none !important;
}

.leaflet-control-attribution a:hover {
  text-decoration : underline !important;
}

.leaflet-container .leaflet-control-attribution,
.leaflet-container .leaflet-control-scale {
  font-size : 11px !important;
}

.leaflet-left .leaflet-control-scale {
  margin-left : 5px !important;
}

.leaflet-bottom .leaflet-control-scale {
  margin-bottom : 5px !important;
}

.leaflet-control-scale-line {
  border          : 2px solid #777777 !important;
  border-top      : none !important;
  line-height     : 1.1 !important;
  padding         : 2px 5px 1px !important;
  font-size       : 11px !important;
  white-space     : nowrap !important;
  overflow        : hidden !important;
  -moz-box-sizing : content-box !important;
  box-sizing      : content-box !important;

  background      : #ffffff !important;
  background      : rgba(255, 255, 255, 0.5) !important;
}

.leaflet-control-scale-line:not(:first-child) {
  border-top    : 2px solid #777777 !important;
  border-bottom : none !important;
  margin-top    : -2px !important;
}

.leaflet-control-scale-line:not(:first-child):not(:last-child) {
  border-bottom : 2px solid #777777 !important;
}

.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  box-shadow : none !important;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border          : 2px solid rgba(0, 0, 0, 0.2) !important;
  background-clip : padding-box !important;
}

/* popup */

.leaflet-popup {
  position   : absolute !important;
  text-align : center !important;
}

.leaflet-popup-content-wrapper {
  padding       : 1px !important;
  text-align    : left !important;
  border-radius : 12px !important;
}

.leaflet-popup-content {
  margin      : 13px 19px !important;
  line-height : 1.4 !important;
}

.leaflet-popup-content p {
  margin : 18px 0 !important;
}

.leaflet-popup-tip-container {
  margin   : 0 auto !important;
  width    : 40px !important;
  height   : 20px !important;
  position : relative !important;
  overflow : hidden !important;
}

.leaflet-popup-tip {
  width             : 17px !important;
  height            : 17px !important;
  padding           : 1px !important;

  margin            : -10px auto 0 !important;

  -webkit-transform : rotate(45deg) !important;
  -moz-transform    : rotate(45deg) !important;
  -ms-transform     : rotate(45deg) !important;
  -o-transform      : rotate(45deg) !important;
  transform         : rotate(45deg) !important;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background : white !important;

  box-shadow : 0 3px 14px rgba(0, 0, 0, 0.4) !important;
}

.leaflet-container a.leaflet-popup-close-button {
  position        : absolute !important;
  top             : 0 !important;
  right           : 0 !important;
  padding         : 4px 4px 0 0 !important;
  text-align      : center !important;
  width           : 18px !important;
  height          : 14px !important;
  font            : 16px/14px Tahoma, Verdana, sans-serif !important;
  color           : #c3c3c3 !important;
  text-decoration : none !important;
  font-weight     : bold !important;
  background      : transparent !important;
}

.leaflet-container a.leaflet-popup-close-button:hover {
  color : #999999 !important;
}

.leaflet-popup-scrolled {
  overflow      : auto !important;
  border-bottom : 1px solid #dddddd !important;
  border-top    : 1px solid #dddddd !important;
}

.leaflet-oldie .leaflet-popup-content-wrapper {
  zoom : 1 !important;
}

.leaflet-oldie .leaflet-popup-tip {
  width      : 24px !important;
  margin     : 0 auto !important;

  -ms-filter : "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)" !important;
  filter     : progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678) !important;
}

.leaflet-oldie .leaflet-popup-tip-container {
  margin-top : -1px !important;
}

.leaflet-oldie .leaflet-control-zoom,
.leaflet-oldie .leaflet-control-layers,
.leaflet-oldie .leaflet-popup-content-wrapper,
.leaflet-oldie .leaflet-popup-tip {
  border : 1px solid #999999 !important;
}

/* div icon */

.leaflet-div-icon {
  background : #ffffff !important;
  border     : 1px solid #666666 !important;
}

#map {
  height : 600px !important;
  width  : 600px !important;
}
